<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Company Name</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="drug" asp-action="index">Drugs <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="order" asp-action="index">Orders</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="row container-fluid">
            <div class="col-md-1 d-flex flex-column d-sm-none d-md-block">
                <div class="p-2">
                    <button class="btn btn-light">Item 1</button>
                </div>
                <div class="p-2">
                    <button class="btn btn-light">Item 2</button>
                </div>
            </div>
            <div class="offset-md-1 col-md-10" style="margin-top:20px;">
                <main>@RenderBody()</main>
            </div>
        </div>
    </section>

    <footer></footer>

    <section id="scripts">
        <script src="~/lib/jquery-3.2.1/jquery-3.2.1.min.js"></script>
        <script src="~/lib/popperjs-1.14.3/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap-4.1/js/bootstrap.min.js"></script>
        <script src="~/lib/vuejs-2.5.16/vue.js"></script>
		<script src="~/js/vue-components.js"></script>
        <script>
            $(document).ready(function () {
                // set .active class to clicked item
                $('#navbarSupportedContent li.nav-item').click(function () {
                    $('#navbarSupportedContent li.nav-item.active').removeClass('active');
                    $(this).addClass('active');
                });
            });
        </script>
        @RenderSection("Scripts", required: false)
    </section>
</body>
</html>